@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

$primary: #13102c;
$secondary: #26ccf2;
$tertiary: #d4d2d5;

:root {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background-color: $primary;
  background: linear-gradient(
    90deg,
    rgba(19, 16, 44, 1) 0%,
    rgba(37, 31, 85, 1) 50%,
    rgba(19, 16, 44, 1) 100%
  );
}

/* Pour les navigateurs WebKit */
::-webkit-scrollbar {
  display: none;
}

/* Pour Firefox */
html {
  scrollbar-width: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(5, 80, 97);
}

/* Pour Firefox */
html {
  scrollbar-width: auto;
  scrollbar-color: rgb(5, 80, 97) $primary;
}

body {
  overflow-y: scroll; /* Pour rendre l'élément défilable */
  -webkit-overflow-scrolling: auto; /* Pour rendre la barre de défilement flottante sur les appareils tactiles */
}

.underline-nav {
  position: absolute;
  top: 23px;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.3s;
}

.cursor-pointer:hover .underline-nav {
  width: 100%;
}

.link-profil.active {
  color: $secondary;
}
